{%  extends "tools/partials/parent.html" %}
{% load static %}

{%  block head_files %}
<script src= "{% static 'tools/js/jsontoxml.js' %}"></script>
{%  endblock head_files %}

{% block body %}
<form  Action="{% url 'tools:jsontoxml' %}" method="post">
    {%csrf_token%}
    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">

            <div class="tool-title">
                JSON to XML Converter
            </div>

            <div>
                <textarea rows="9" class="form-control myinput" id="jsonstring"
                          name="jsonstring" placeholder="JSON Input"
                          style="font-family: Courier;font-size: 13px;white-space: nowrap;">{{jsonstring}}</textarea>
            </div>

            <br>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    Element name of JSON array entries:
                    <input type="text" class="form-control myinput" value="{{element}}" name="temp_tag" id="temp_tag" required>
                </div>
                <div class="col-md-6 col-sm-12">
                    Name of root element:
                    <input type="text" class="form-control myinput" value="{{rootelement}}" name="temp_root" id="temp_root" required>
                </div>
            </div>
            <br>

            <div style="text-align:center;">
                <input type="submit"  value="JSON to XML" name="sub" class="btn btn-info btn-rect" >&nbsp;&nbsp;
                <div type="button" class="btn btn-default btn-rect" onclick="clearall();">Clear All</div>
            </div>


            <br>

            {% if post %}
                {% if error %}
                    <div >
                        <div id="invalid_json" class="alert alert-danger myalert" role="alert">Invalid JSON<br><span id="e_msg">{{error_msg}}</span></div>
                        <br>
                        <textarea rows="9" class="form-control myinput" id="xmlstring"
                          placeholder="XML Output" name="xmlstring"></textarea>
                    </div>
                {% else %}
                    <div >
                        <textarea rows="9" class="form-control myinput" id="xmlstring"
                          placeholder="XML Output" name="xmlstring">{{xmloutput}}</textarea>
                    </div>
                {% endif %}

            {% else %}
            <div >
                <textarea rows="9" class="form-control myinput" id="xmlstring"
                          placeholder="XML Output" name="xmlstring"></textarea>
            </div>
            {% endif %}

            <br>

        </div>

    </div>
</form>
{% endblock body %}
