{%  extends "tools/partials/parent.html" %}
{% load static %}

{%  block head_files %}
    <script src= "{% static 'tools/js/password.js' %}"></script>
{%  endblock head_files %}

{% block body %}
    <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">

                <div class="tool-title">
                    Password Generator
                </div>

                <div style="margin-bottom: 20px;">

                    <label>Password Length</label>
                    <input type="number" class="form-control myinput"
                           value="8" min="6" max="256" style="width: fit-content;"
                           id="passwordlength" name="passwordlength" required>

                    <br>

                    <label>Password should use</label><br>
                    <input type="checkbox" value="c" id="capital"> CAPITAL letters<br>
                    <input type="checkbox" value="n" id="numbers"> Numbers<br>
                    <input type="checkbox" value="s" id="special"> Special Characters<br>

                </div>


                <div class="btn btn-info btn-rect" onclick="generate_password()">Generate Password</div>

                <br><br>
                <div class="input-group">
                    <text class="form-control myinput" name="password"  id="password">
                    </text>
                    <span class="input-group-btn">
                        <div name="copy_link" class="btn btn-info btn-rect" style="margin:0.5px"
                              onclick="copyToClipboard('#password'); selectText('password');">
                            Copy Password
                        </div>
                    </span>
                </div>
                <br>


                <div class="well mywell" style="margin-top: 30px;">

                </div>

            </div>
    </div>


{% endblock body %}
