<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 text-left" style="padding-top:10px;margin-left: 40px;">
        <div class="linklist" style="margin-bottom: 20px;"><a href="{% url "tools:index" %}" class="links">Home</a></div>

        <div class="linklist"><a href="{% url "tools:fd" %}" class="links">Fixed Deposit Calculator</a></div>
        <div class="linklist"><a href="{% url "tools:credit_card_validator" %}" class="links">Recurring Deposit Calculator</a></div>
        <div class="linklist"><a href="{% url "tools:number_system_conversion" %}" class="links">SIP Return Calculator</a></div>
        <div class="linklist"><a href="{% url "tools:base64" %}" class="links">Simple Interest Calculator</a></div>
        <div class="linklist"><a href="{% url "tools:base64" %}" class="links">Compound Interest Calculator</a></div>
        <div class="linklist"><a href="{% url "tools:base64" %}" class="links">Age Calculator</a></div>
    </div>
</div>
