<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 text-left" style="padding-top:10px;margin-left: 40px;">
        <div class="linklist"><a href="{% url "tools:json_validator" %}" class="links">JSON Validator</a></div>
        <div class="linklist"><a href="{% url "tools:md5" %}" class="links">Md5 Hash Generator</a></div>
        <div class="linklist"><a href="{% url "tools:credit_card_validator" %}" class="links">Credit Card Validator</a></div>
        <div class="linklist"><a href="{% url "tools:number_system_conversion" %}" class="links">Number System Conversion</a></div>
        <div class="linklist"><a href="{% url "tools:base64" %}" class="links">Base64 Encode/Decode</a></div>
        <div class="linklist"><a href="{% url "tools:quick_notepad" %}" class="links">Quick Notepad</a></div>
        <div class="linklist"><a href="{% url "tools:jsontoxml" %}" class="links">JSON to XML Converter</a></div>
        <div class="linklist"><a href="{% url "tools:xmltojson" %}" class="links">XML to JSON converter</a></div>
        <div class="linklist"><a href="{% url "tools:qr_code" %}" class="links">QR Code Generator</a></div>
        <div class="linklist"><a href="{% url "tools:public_ip" %}" class="links">My Public IP</a></div>
        <div class="linklist"><a href="{% url "tools:string_functions" %}" class="links">String Tinkering</a></div>
        <div class="linklist"><a href="{% url "tools:epoch_converter" %}" class="links">Epoch Time Converter</a></div>
        <div class="linklist"><a href="{% url "tools:url_encode" %}" class="links">URL Encoder/Decoder</a></div>
        <div class="linklist"><a href="{% url "tools:password_generator" %}" class="links">Password Generator</a></div>

        <div class="linklist"><a href="{% url "tools:calculators" %}" class="links">Calculators</a></div>

    </div>
</div>
